@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply bg-white text-black border border-gray-300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Handle select element options */
select option {
  @apply bg-white text-black;
}
